<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Upgrade Your Mind</title>
        <link href="static/style.css" rel="stylesheet" type="text/css" />
        <script src="static/script.js"></script>
    </head>
    
    
    <body>

        <!-- heading  -->
        <p id="wholeheading">
            <div class="headingbar">
            <head><h1 class="heading"><center>Upgrade Your Mind</center></h1></head>
            </div>

            <div class="headingbar">
            <head><h1 class="headingout"><center>Upgrade Your Mind</center></h1></head>
            </div>
        </p>

        <!-- navigation menu -->

        <div class="navigationbar">
            <p class="navigation">
            Home page
            <button onClick="login()" type="button">
                login
            </button>
            <button onClick="signup()" type="button">
                sign up
            </button>
            </p>
        </div>
        <!-- home page content -->

        <div>
        <img src="https://i.natgeofe.com/k/715d847d-ea41-48a3-b3e4-fbaf067a7e7e/brain.jpg" alt="a brain">
        </div>

        <div>
            <p id="introtext">
                This website is a tool to help you 
                track your habits.
            </p>
        </div>

        <div>
            <p id="introtextout">
                This website is a tool to help you 
                track your habits.
            </p>
        </div>

        

    </body>
</html>

<!-- can put text outside to only undline "login page" <a href="loginpage.html" target = "_blank" >login page (or could put box or picture here to link it</a> to open new window-->
<!--
    <a href="loginpage.html">
    <button type="mainPage">
    my Button
</button></a> -->